<% include partials/header %>
<body class="grey-bg">
    <header>
        <nav>
            <h1>Artisan Search</h1>
        </nav>
    </header>
    <div class="error" >
        <h1>Ooops! Something went wrong.</h1>
        <h3><%= err_message %></h3>
        <img src="images/cry.gif" >
    </div>
    

<% include partials/footer %>